
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
</head>
<body>
    <div>
        <label>Login Successful!</label>
        <br />
        <label>Welcome @Session["name"]</label>
    </div>
</body>
</html>
